@inject ILayoutService layoutService
@{
    var basket = layoutService.GetBasket();
}
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Cart</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="~/admin/index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cart</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- cart main wrapper start -->
    <div class="cart-main-wrapper section-padding">
        <div class="container">
            <div class="section-bg-color">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Cart Table Area -->
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Thumbnail</th>
                                        <th class="pro-title">Product</th>
                                        <th class="pro-price">Price</th>
                                        <th class="pro-quantity">Quantity</th>
                                        <th class="pro-subtotal">Total</th>
                                        <th class="pro-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in basket)
                                    {
                                        <tr>
                                            <td class="pro-thumbnail"><a href="~/admin/#"><img class="img-fluid" src="~/assets/img/product/@product.Image" alt="Product" /></a></td>
                                            <td class="pro-title"><a asp-controller="product" asp-action="detail" asp-route-id="@product.Id">@product.Name</a></td>
                                            <td class="pro-price"><span>$@String.Format("{0:0.00}", product.Price)</span></td>
                                            <td class="pro-quantity">
                                                <div class="pro-qty"><input type="text" value="@product.Count"></div>
                                            </td>
                                            <td class="pro-subtotal"><span>$@String.Format("{0:0.00}", product.Price*product.Count)</span></td>
                                            <td class="pro-remove"><a asp-controller="basket" asp-action="removeproduct" asp-route-id="@product.Id"><i class="fa fa-trash-o"></i></a></td>
                                        </tr>


                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- Cart Update Option -->
                        <div class="cart-update-option d-block d-md-flex justify-content-between">
                            <div class="apply-coupon-wrapper">
                                <form action="#" method="post" class=" d-block d-md-flex">
                                    <input type="text" placeholder="Enter Your Coupon Code" required />
                                    <button class="btn">Apply Coupon</button>
                                </form>
                            </div>
                            <div class="cart-update">
                                <a href="~/admin/#" class="btn">Update Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 ml-auto">
                        <!-- Cart Calculation Area -->
                        <div class="cart-calculator-wrapper">
                            <div class="cart-calculate-items">
                                <h3>Cart Totals</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <td>Sub Total</td>
                                            <td>$@(basket.Sum(p => p.Price * p.Count))</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping</td>
                                            <td>$@(basket.Sum(p => p.ExTax) + basket.Sum(p => p.Price * p.Count) * 20 / 100)</td>
                                        </tr>
                                        <tr class="total">
                                            <td>Total</td>
                                            <td class="total-amount">$@(basket.Sum(p => p.Price * p.Count) + basket.Sum(p => p.ExTax) + basket.Sum(p => p.Price * p.Count) * 20 / 100)</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <a href="~/admin/checkout.html" class="btn d-block">Proceed Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cart main wrapper end -->
</main>
<!-- main wrapper end -->